<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
<meta charset="UTF-8">
<title th:text=${title}>Insert title here</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">id</th>
				<th style="width: 150px;">First Name</th>
				<th style="width: 150px;">Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${owners}">
				<td th:text="${item.id}">1</td>
				<td th:text="${item.firstName}">Renato</td>
				<td th:text="${item.lastName}">Bonilla</td>
			</tr>
		</tbody>

	</table>

</body>
</html>