<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Id</th>
				<th style="width: 150px;">First name</th>
				<th style="width: 150px;">Last name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" item : ${vets}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.firstName}"></td>
				<td th:text="${item.lastName}"></td>			
			</tr>
		</tbody>
	</table>
</body>
</html>